<h1> <%= name %> noticia </h1>
<%= form_for(@article) do |fila| %>
 <% @article.errors.full_messages.each do |message| %>
  <div class="be-grey white top-space">
   * <%= message %>
   </div>
   <%end%>
 <div class="field">
  <%= fila.trix_editor :title, placeholder: "Título", class:"form-control" %>
 </div>
 <div class="field">
  <%= fila.trix_editor :body, placeholder: "Escibe aquí la noticia", style:"height:250px;", 		class:"form-control" %>
 </div>
 
  <%= fila.label "Fecha de creación: "%>
  <%= fila.text_field :created_at, :id => "datepicker", class:"bottom-space top-margin" %>

  <div class="field">
  <label>Categorías:</label>
   <% @categories.each do |category| %>
   <div class="field"><%= check_box_tag "categories[]", category.id %> <%= category.name %></div>
    <%end%>
 </div>
 <div class="field">
 <div class="field">
  Portada: <%= fila.file_field :cover, class:"bottom-space top-margin" %> 
 </div>
 <div class="field">
  <%= fila.submit "Guardar", class:"btn be-grey white" %>
<%end%>
