<header>
    <nav class="be-black white large-padding">
     <ul class="no-list row center-xs middle-xs">
     <li class="col-md"></li>
      <li class="col-md">  <%= link_to "Sobre nosotros", about_path %>  </li>
      <li class="col-md"> <%= link_to "Contacto", contact_path %></li>
      <li class="col-md"> <%= link_to "Noticias", articles_path %>  </li>
      <li class="col-md"> <%= link_to "  Newsletter", subscribers_path %></li>
      <% if user_signed_in? %>
         <li class="col-md"> <%= link_to "  Cerrar sesión", destroy_user_session_path, method: :delete %></li>
         <li class="col-md">Bienvenido:  <%= link_to current_user.email, welcome_index_path %></li>
      <% else %>
         <li class="col-md"><%= link_to "  Iniciar sesión", new_user_session_path %></li>
         <li class="col-md"><%= link_to "  Registrarse", new_user_registration_path %></li>
      <%end%>
     </ul>
    </nav>
    <nav class="be-grey white large-padding">
     <ul class="no-list row center-xs middle-xs">
     <li class="col-md"><h1 class="no-margin" id="logo"><%= link_to "notTec  ", root_path %></h1></li>
     <li class="col-md"></li>
     <li class="col-md"></li>
     <li class="col-md"></li>
     <li class="col-md"></li>
     <li class="col-md">
       <div class="footer-icons">
          <a href="https://es-es.facebook.com/"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/?lang=es"><i class="fa fa-twitter"></i></a>
          <a href="https://github.com/JuanRaBetancor/notTec"><i class="fa fa-github"></i></a>
      </div>
     </li>
     </ul>
    </nav>
    <nav class="be-black white large-padding">
     <ul class="no-list row center-xs middle-xs">
      <% @categories.each do |category| %>
          <li class="col-md">  <%= link_to category.name,category%></li>
      <%end%>
     </ul>
    </nav>
   </header>

