
<div class="profile top-margin">
	<div class="row margenes-laterales-bajo">
		<%= image_tag @user.avatar %>
		<h4><%= link_to @user.email, @user %> </h4>
	</div>
	<h5 class="row ">Miembro en notTec desde hace:  <%= time_ago_in_words(@user.created_at) %> </h5>
	<h5 class="row ">Último login hace:  <%= time_ago_in_words(@user.last_sign_in_at) %> </h5>
</div>

<h1 style="margin-left: 20%;">Actividad</h1>

<div class="row center-xs middle-xs actividad">
	<div class="col-md actividad-comments">
		<h2>Comentarios</h2>
		<h4>Cantidad de comentarios: <%= @user.comments.count %></h4>
		<hr>
		<% @user.comments.each do |comment| %>
		    <div class="commentario" style="background: url(<%= comment.article.cover.url(:thumb) %>);top:0px;left:0px;width:100%;background-size: cover;">
				 <h4 class="red"><%= link_to comment.article.title.html_safe, comment.article %></h4> 
				 <h5 class="white"><%= comment.body %></h5>   
				 <h5 class="white">Hace: <%= time_ago_in_words(comment.created_at) %></h5> 
			</div>  
		<%end%>

	</div>

	<div class="col-md actividad-comments">
		<% if @user.is_editor? %>
			<h2>Noticias hechas: </h2>
			<h4>Cantidad de noticias: <%= @user.articles.count %></h4>
			<hr>
		    <% @user.articles.each do |article| %>
		    	<div class="commentario" style="background: url(<%= article.cover.url(:thumb) %>);top:0px;left:0px;width:100%;background-size: cover;">
					<h4 class="red"><%= link_to article.title.html_safe, article %></h4>
					<h5 class="white">Hace: <%= time_ago_in_words(article.created_at) %></h5>
					<h5 class="white">Visitas: <%= article.visits_count %> </h5>
				</div>
			<%end%>
		<%end%>		
	</div>
</div>
