 <div class="row">
  <%= link_to "Crear nueva noticia", new_article_path, class:"btn redondeado be-red white top-margin", style:"margin-left:50px;", data: { turbolinks: 'false' } %>
</div>
<% @articles.each do |article| %>
<div class="row">
	<div class="box relative article-height container-fluid">
		<div class="absolute article-height background-cover" style="background: url(<%= article.cover.url(:thumb) %>);top:0px;left:0px;width:100%;background-size: cover;">
		</div>
		<div class="absolute article-height background-cover" style="background: rgba(0,0,0,0.5);top:0px;left:0px;width:100%;background-size: cover;">
		</div>
		<div class="relative white text-center">
			<h2> <%= link_to article.title.html_safe, article %> </h2>
		</div>
	</div>
</div>
<div class="row">
	<div style="padding-left: 20%;">
		<div class="top-space bottom-space">
			<%= link_to "Editar", edit_article_path(article), class:"btn redondeado be-grey white", data: { turbolinks: 'false' } %> 
		</div>
		<% if current_user.is_admin? %>
		<div class="top-space bottom-space">
			<%= link_to "Eliminar", article, class:"btn redondeado be-red white", method: :delete, data: { confirm: 'Estas seguro?' } %> 
		</div>
		<% if article.may_publish? %>
		<div class="top-space bottom-space">
			<%= link_to "Publicar", "/articles/#{article.id}/publish", class:"btn redondeado be-blue white", method: :put %>
		</div>
      	<%end%>
    <%end%>
	</div>
</div>
<%end%>
<div class="row">
	<div style="padding-left: 20%;">
		<%= will_paginate @articles %>
	</div>
</div>





