<% if user_signed_in? %>
<% if current_user.is_admin? %>
	<h2><%= link_to "Panel de control de artículos", dashboard_path %></h2>
<%end%>
<h1>Bienvenido: <%= link_to current_user.email, welcome_index_path %> </h1>
<h3>Número de veces de inicio de sesión:  <%= current_user.sign_in_count %> </h3>
<h3>Hora de inicio de la sesión actual:  <%= current_user.current_sign_in_at %> </h3>
<h3>Último login:  <%= current_user.last_sign_in_at %> </h3>
<h3>IP dirección:  <%= current_user.current_sign_in_ip %> </h3>
<h3>IP del último login:  <%= current_user.last_sign_in_ip %> </h3>
<h3>Fecha de creación de la cuenta:  <%= current_user.created_at %> </h3>
<%end%>



