<div class="container">
	<p id="notice"><%= notice %></p>
	<h1 style="color:<%= @category.color %>;"> <%= @category.name %></h1>
	<% if user_signed_in? %>
		<% if current_user.is_editor? %>
	 		<div class="row top-space text-center red">
			    	<%= link_to 'Edit', edit_category_path(@category), class:"btn be-red white" %> 
			    </div>
		<%end%>
	<%end%>
	<h2>Noticias</h2>

	<div class="row">
		<%= render @category.articles %>
	</div>
	
</div>